allure-pytest
allure-python-commons
asn1crypto
astroid
atomicwrites
attrs
bcrypt
Click
cryptography
flake8
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mccabe
more-itertools
paramiko
pluggy
py
pyasn1
pycodestyle
pycparser
pyflakes
pylint
pymongo
PyNaCl
pyshp
pytest
python-dateutil
requests
rope
selenium
Shapely
six
urllib3
Werkzeug
